/* =========== GERAL =========== */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
:root {
  /*   --primary-color: hsl(170, 100%, 26%);
  --headline-color: hsl(210, 11%, 15%);
  --paragraph-color: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  */
  --nav-height: 7.2rem;

  font-size: 62.5%; /* agora 1rem = 10px 
  por default, 1rem = 16px*/
}
html,
body {
  max-width: 100%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay; /* faz com que a barra de rolagem não some pixels para os positions */
}

ul {
  list-style: none;
}

/* =========== HEADER =========== */
header {
  background-color: hsl(60, 100%, 90%);
  height: 7rem;
  padding: 2rem;
  width: 100%;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
}
nav .logo {
  margin-right: auto;
}
nav ul {
  display: flex;
  width: 40rem;
  margin-top: 1rem;
}
ul li {
  width: 100%;
}
ul li a {
  text-decoration: none;
  color: black;
}

/* =========== MAIN =========== */

/* ABOUT ME */
#aboutMe {
  /* max-height: 40rem; */
  max-width: 100%;
  margin: auto;
  padding: 2rem;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  /* overflow: auto; */
}

#aboutMe div:nth-child(1) {
  display: flex;
}
#aboutMe .titles-aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}

#aboutMe h1 {
  margin-bottom: 5rem;
}
#aboutMe p {
  margin-top: 3rem;
  /* overflow: auto; */
}

/* WORK */

#work {
  width: 100%;
  background-color: yellow;
  padding: 2rem;
  margin: auto;
}
.gridImage img {
  width: 100%;
  padding-block: 0.3rem;
}

/* CONTACT */
#contact {
  padding: 4rem 3rem 3rem 0;
}
.row1-contact > div > div {
  display: flex;
  flex-direction: column;
}
#contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.row1-contact label {
  margin-right: 2rem;
  margin-block: 1rem 0.2rem;
  text-align: left;
}
.row1-contact input {
  padding: 1rem;
  width: 30vw;
  max-width: 600px;
  border-radius: 3rem;
}
.campoMessage label {
  display: block;
  margin-block: 2rem 0.5rem;
  text-align: center;
}
.campoMessage textarea {
  border-radius: 3rem;
  padding: 1rem;
}
form button {
  margin-top: 1rem;
  border: none;
  border-radius: 3rem;
  padding: 1rem 4rem;
}

/* =========== FOOTER =========== */
.footer {
  /* height: 300px; */
  margin-block: 5rem 1rem;
}

.line {
  border-top: solid 1px gray;
  width: 80%;
  margin: 0 auto 3rem;
}

.footer-contact ul li + li {
  margin-top: 0.5rem;
  margin-left: 5rem;
}

.footer-socialMedias ul li {
  margin-left: -1rem;
}

.footer-socialMedias ul li + li {
  margin-top: 0.5rem;
}
@media (max-width: 1200px) {
  /* CONTACT */
  #contact {
    text-align: center;
    padding-inline: 0;
  }
  .row1-contact label {
    text-align: center;
  }
  .row1-contact > div > div {
    align-items: center;
    margin-left: 0;
  }
  .row1-contact input {
    width: 80vw;
  }
}
@media (max-width: 768px) {
  .footer-socialMedias {
    margin-top: 1rem;
  }
  /*   .footer-row {
    border: solid 1px blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  /*   .footer-contact ul li + li {
    margin-left: 0;
  }

  .footer-socialMedias ul li {
    margin-left: 0;
  } */
}
